html,
body {
  height: 100%;
}


body {
  @extend %quicksand-500;
  color: $default;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  flex-direction: column;
}
.main {
  flex-grow: 1;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.top-container {
  max-width: 1730px;  
  margin: 0 auto;
}

.title {
  color: $title;
  @extend %roboto-700;
  font-size: 48px;
  line-height: 65px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.text {
  max-width: 570px;
  text-align: center;
  margin: 0 auto 55px;
}
.header--404--page {
  background-color: $bg;
}

.pagination {
  display: flex;  
  align-items: center;  
  padding: 30px 0;
  .pagination__list {
    display: flex; 
    padding: 0 35px;
  }
  &__list-item {
    padding: 0 15px;
  }
  &__list-link--active {
    color: $accent;
  }
  &__arrows {    
    text-transform: uppercase;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 5px;
      height: 10px;
      top: 8px;     
    }
  }  
  &__prev {    
    padding-left: 15px;    
    &::before {      
      left: 0;
      background-image: url('../images/icons/arrow-prev.svg');
      background-repeat: no-repeat;
    }
  }
  &__next {    
   padding-right: 15px;   
   &::before {    
    right: 0;
    background-image: url('../images/icons/arrow-next.svg');
    background-repeat: no-repeat;
   }
  }
}

