@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'media';
@import '../module/_header/_header';
@import '../module/_footer/_footer';



.modal {
  max-width: 570px;
  margin: 0 auto 115px;
  &__links {  
    text-align: center;
    margin-bottom: 40px;    
  }
  &__link {
    color: #909090;
    @extend %roboto-400;
    font-size: 22px;
    text-transform: uppercase;
    &--active {
      color: $accent;
      @extend %roboto-700;
    }
  }  
  &__link + .modal__link {
    margin-left: 65px;
  }
  &__label {
    display: block;
    margin-bottom: 30px;
  }
  &__input {
    display: block;
    margin-top: 10px;
    width: 100%;
    height: 60px;
    outline: none;
    border: none;
    padding: 0 15px;
    background-color: $bg;
  }
  &__text {
    margin-bottom: 25px;
  }
  &__btn {
    display: block;
    width: 100%;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    @extend %roboto-400;
    padding: 25px 0;
    letter-spacing: 200;
    background-color: #292929;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  &__arrow {
    color: $accent;
  }
}