.categories-info {
  padding: 120px 0;
  background-image: url('../images/decor/categories-bg-1.png');
  background-repeat: no-repeat;
  background-position: left center;
  &__inner {
    background-image: url('../images/decor/categories-bg-2.png');
    background-repeat: no-repeat;
    background-position: right center;
  }
}
.info {
  display: flex;
  justify-content: space-between;  
  margin-bottom: 110px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: -45px;
    left: -45px;
    width: 120px;
    height: 120px;
    z-index: -1;
    background-image: url('../images/decor/decor-1.svg');
  }
  &::after {
    content: '';
    position: absolute;
    right: -22px;
    bottom: -22px;
    width: 65px;
    height: 52px;
    z-index: -1;
    background-image: url('../images/decor/decor-2.svg');
  }
  &__item {
    width: 370px;
    background-color: #fff;
    padding: 60px 30px;
    box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
  }
  &__item-title {
    color: $title;
    @extend %roboto-400;
    font-size: 22px;
    line-height: 26px;
    margin: 35px 0 10px;
  }
}
.categories {
  &__items {
    display: grid;
    min-height: 635px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
  }
  &__item {
    padding: 35px 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    &:nth-child(1) {
      grid-row: span 2;
      padding: 40px;
      .categories__item-subtitle,
      .categories__item-link:hover {
        color: #5800e4;
      }
    }
    &:nth-child(2) {
      grid-column: span 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 0;
      .categories__item-subtitle,
      .categories__item-link:hover {
        color: $accent;
      }
    }
    &:nth-child(3) {     
      .categories__item-subtitle,
      .categories__item-link:hover {
        color: #ffb534;
      }
    }
    &:nth-child(4) {     
      .categories__item-subtitle,
      .categories__item-link:hover {
        color: #34c3ff;
      }
    }
    &-subtitle {
      margin-bottom: 5px;
    }
    &-title {
      color: $title;
      @extend %roboto-500;
      font-size: 22px;
      line-height: 26px;
      margin-bottom: 16px;
    }
    &-link {
      color: $title;
      @extend %roboto-400;
      text-transform: uppercase;
      transition: all .3s;
    }
  }
}

@media (max-width: 1235px) {
  .info {   
    &::after {
      right: 0;
    } 
    &__item {
      width: 340px;
      padding: 20px;
    }
  }
}

@media (max-width: 1100px) {
  .info { 
    display: block;   
    &__item {
      width: 100%;
      padding: 20px;  
      margin-bottom: 20px;    
    }
    &__item-title {   
      margin: 20px 0 10px;
    }
  }
  .categories {
    &__items {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
    }
    &__item {
      background-position: center top;
      &:nth-child(1) {
        grid-row: auto;
      }
      &:nth-child(2) {
        grid-column: auto;
        background-position: center right;
      }
    }
  }
}

@media (max-width: 768px) {
  .categories {
    &__items {
      min-height: 380px;
    }   
    &__item {
      background-image: none !important; 
      display: flex;
      flex-direction: column;
      justify-content: center; 
      // align-items: center; 
      padding: 40px;
      &:nth-child(1) {
        background-color: #efdef0;
      }
      &:nth-child(2) {
        padding: 40px;
        background-color: #deeeee;
      }
      &:nth-child(3) {
        background-color: #fef7a9;
      }
      &:nth-child(4) {
        background-color: #ececec;
      }
    }
  }
  .categories-info {
    padding: 120px 0 60px;
  }
}

@media (max-width: 620px) {
  .categories {
    &__items {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 10px;
    } 
    &__item {
      text-align: center;
    }
  }
}


@media (max-width: 375px) {
  .info {     
    &__item-title {   
      font-size: 20px;
    }
  }
}


